%p= "Вы или кто-то другой запросил восстановление пароля пользователя #{@user.display_name},
зарегистрированного на этот почтовый ящик. Для восстановления пароля воспользуйтесь ссылкой:"
%p= @url
%p Если вы не посылали запрос на восстановление пароля - не отвечайте на это письмо, либо сообщите
об этом администратору портала по почте support@ogromno.com