=javascript_include_tag 'distribution/plugins/reception_logger'
.tab-content
  %h6 История сканирования:
  %div{style: 'max-height:450px; overflow-y:auto'}
    %table#reception-log
      %thead
        %tr
          %th Штрих-код
          %th Ник
      %tbody
