=javascript_include_tag 'distribution/plugins/reception_logger'
.tab-content
  %h6 История сканирования:
  %table#reception-log
    %thead
      %tr
        %th Штрих-код
        %th Результат
    %tbody
