= javascipt 'distribution/package_lists'
%h3 Ведомости

= render 'distribution/shared/tab_menu', point: @point, active:'package_lists'

.tab-content
  %table#package_lists.sortable
    %thead
      %tr
        %th Дата выдачи
        %th Состояние
        %th Заказано(%)
        %th Собрано(%)
        %th Выдано(%)
        %th
    %tbody
      - @package_lists.each do |list|
        = render 'list_row', point: @point, list: list

  = paginate @package_lists