= javascript 'distribution/package_lists'
.col_8
  %h3 Ведомости

  .tab-content
    %table#package_lists.sortable
      %thead
        %tr
          %th Дата выдачи
          %th Состояние
          %th Заказано(%)
          %th Собрано(%)
          %th Выдано(%)
          %th
      %tbody
        - @package_lists.each do |list|
          = render_row list

    = paginate @package_lists