%h1 Listing package_lists

%table
  %tr
    %th
    %th
    %th

  - @package_lists.each do |package_list|
    %tr
      %td= link_to 'Show', package_list
      %td= link_to 'Edit', edit_package_list_path(package_list)
      %td= link_to 'Destroy', package_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Package list', new_package_list_path
