#top-banners
  %ul#carousel
    %li
      =link_to image_tag('banner_1.png', :width => "570", :height => "140"), 'http://ogromno.com/index.php?showtopic=22180'
    %li
      =link_to image_tag('banner_2.png', :width => "570", :height => "140"), 'http://ogromno.com/index.php?showtopic=22091'
    %li
      =link_to image_tag('banner_3.png', :width => "570", :height => "140"), 'http://ogromno.com/index.php?showtopic=41918'
    %li
      =link_to image_tag('banner_4.png', :width => "570", :height => "140"), 'http://ogromno.com/index.php?showtopic=22180'
