%h1 Размещение рекламы
%h5 Желаете разместить баннер или предложить идеи сотрудничества? Пишите #{mail_to 'jackmoor11@gmail.com', 'Евгению'}!
%h5= link_to 'Внутренняя реклама для организаторов', 'http://ogromno.com/index.php?showtopic=8401'