%h1 Реклама

%h5 Размещение баннеров
%table
  %thead
    %tr
      %th
      %th Частота показа
      %th Стоимость(за мес.), руб.
  %tbody
    %tr
      %td баннер горизонтальный (600x90)
      %td 10%
      %td 5 000 (4 000)
    %tr
      %td баннер вертикальный (160x600)
      %td 10%
      %td 5 000 (4 000)

%p Цена в скобках применяется при оплате рекламы за 3 и более месяца.

%p Мы также можем помочь вам с созданием баннера для размещения на сайте

%h5 Рассылка

%p= link_to 'Статистика посещаемости', 'https://metrika.yandex.ru/stat/?id=188063&from=informer'
%p  Цена одной рассылки составляет 3 000 рублей.

%h5 По вопросам размещения рекламы обращайтесь к Евгению, <nobr>тел. +7-922-134-89-08</nobr>, #{mail_to 'jackmoor11@gmail.com'}
%h5= link_to 'Внутренняя реклама для организаторов', 'http://ogromno.com/index.php?showtopic=8401'