%h1 Пользовательское соглашение
%ol
  %li
    %h2 Введение
    %p
      Сторонами настоящего Регламента являются: Администрация портала Клуба выгодных покупок OGROMNO.com
      (далее – Администрация); физическое лицо, которое в соответствии с требованиями гражданского законодательства РФ,
      признается участником гражданских правоотношений (далее – Пользователь).

  %li
    %h2 Термины, используемые в данном пользовательском соглашении
    %p
      Сайт – Интернет-сайт по адресу ogromno.com / огромно.рф
    %p
      Товар – любые товары, продукты, услуги и предложения, размещаемые Пользователями на Сайте для реализации
      как на возмездной, так и на безвозмездной основе в своих интересах или в интересах третьих лиц.
    %p
      Логин – набор символов, известный неограниченному кругу лиц и позволяющий идентифицировать
      Пользователя на Сайте без привязки к реально существующему лицу.
    %p
      Пароль – набор символов, привязанный к конкретному Логину, не известный никому и позволяющий только
      Пользователю пользоваться услугами Сайта под конкретным Логином.
    %p
      Регистрация – Пользователь обязан сообщить свой адрес электронной почты, а также выбрать пароль.
    %p
      Услуги – возможности (инструменты, алгоритмы, способы и иные методы взаимодействия Пользователя и Сайта),
      предоставляемые Администрацией на Сайте и позволяющие Пользователю реализовывать или приобретать Товар.
    %p
      Регламент – настоящее Пользовательское соглашение, Публичная оферта, приложение Перечень запрещенных товаров,
      а также любые иные документы, регламентирующие работу Сайта.
    %p
      Авторизация на Сайте (Авторизация) – идентификация пользователя посредствам введения в соответствующие
      поля на Сайте правильной комбинации Логина и Пароля.

  %li
    %h2 Общие условия
    %p
      Администрация предлагает Пользователю Услуги по использованию Сайта для размещения информации о Товарах с целью
      последующей их реализации другим Пользователями через Сайт на условиях, установленных настоящим Регламентом
      (далее – Условия). Чтобы получить возможность продавать, покупать и иным способом получить и/или передавать Товары,
      Пользователю необходимо пройти Регистрацию. Все сделки заключаются между Пользователями напрямую. Таким образом,
      Администрация не является участником сделок, за исключением случаев, когда Пользователь приобретает непосредственно
      у Администрации определенные услуги на возмездной основе. В последнем случае к отношениям Торговой площадки и
      Пользователя применяются: закон «О защите прав потребителей» и иные применимые нормативно-правовые акты, а
      также публичная оферта.

  %li
    %h2 Право размещать информацию
    %p
      Пользователь получает право размещать информацию после Регистрации. При регистрации необходимо указать действительный
      электронный адрес, к которому имеет доступ только Пользователь, Логин и Пароль, который Пользователь выбирает
      самостоятельно. После Регистрации Пользователь получает электронное письмо с подтверждением Регистрации,
      содержащее ссылку, переход по которой необходим для завершения регистрации. Использование возможностей Сайта,
      как зарегистрированными, так и незарегистрированными пользователями означает принятие настоящих Условий и
      обязательств следовать инструкциям по пользованию Услугами.
    %p
      Услуги не предоставляются и не должны использоваться лицами младше 18 лет, лицами признанными недееспособными, а
      также ограниченно дееспособными лицами или лицами, временно или постоянно отстраненными от пользования Услугами Сайта.
      Лица, не достигшие 18 лет, или лица, признанные недееспособными или ограничено дееспособными, могут пользоваться
      Услугами только с согласия своих законных представителей (опекунов).
    %p
      Пользователь несет ответственность за все действия с использованием его электронного адреса, Логина и Пароля.
      Пользователь имеет право пользоваться Услугами только при помощи собственного адреса электронной почты, Логина и
      Пароля. Пользователь обязан следить за сохранностью своего Пароля и не раскрывать его посторонним. Пользователь не
      имеет права передавать или продавать свои данные для Авторизации на Сайте третьим лицам. Пользователь также не имеет
      права прямо или косвенно разрешать третьим лицам использовать его электронный адрес, Логин и Пароль для Авторизации
      на Сайте. Пользователь обязан немедленно изменить данные для Авторизации на Сайте, если у него есть причины
      подозревать, что эти данные были раскрыты или могут быть использованы третьими лицами.
    %p
      Торговая площадка использует особые технические решения для проверки правильности информации, предоставляемой
      Пользователями при Регистрации и/или при Авторизации. Но, поскольку в интернете сложно установить личность
      пользователя, Администрация не может гарантировать, что Пользователь действительно является тем, кем представляется,
      а также что информация, предоставленная при Регистрации на Сайте, является верной. Администрация рекомендует общаться
      с возможными контрагентами, используя для этого все инструменты, доступные на Сайте.

  %li
    %h2 Размещение объявлений
    %p
      Пользователь, размещающий Товар на Сайте (далее – Продавец), обязуется разместить его в соответствии с инструкциями
      на Сайте и предоставить точную и полную информацию о Товаре и условиях его продажи (далее – Описание товара).
      Размещая Товар, Пользователь подтверждает, что он имеет право реализовывать этот Товар. Чтобы поддерживать высокое
      качество Услуг, Администрация оставляет за собой право ограничить количество активных объявлений Пользователя на
      Сайте, а также ограничить действия Пользователя на Сайте.
    %p
      Пользователь имеет право реализовывать на Сайте любые принадлежащие ему Товары, в том числе включая, но, не
      ограничиваясь: продукты, предметы, услуги, возможности и так далее, при условии, что для этого не требуется
      специальных разрешений, а также при условии соблюдения действующего Регламента Сайта. На Сайте запрещены Товары,
      продажа которых нарушает действующее законодательство, противоречит общепринятым нормам, является оскорбительной
      или неуместной. Пользователь обязан удостовериться, что продажа Товара не нарушает действующего законодательства,
      а также, что продажа данного Товара разрешена Регламентом Сайта, ознакомившись с содержанием списка товаров,
      запрещенных к продаже на Сайте.
    %p
      Пользователь обязан тщательно проверить всю информацию о Товаре, размещенном для продажи, и, в случае обнаружения
      неверной информации, добавить необходимые сведения в Описание товара или, если это возможно, исправить
      неверную информацию, отредактировав объявление.
    %p
      Описание товара, составленное Продавцом, составляет условия продажи этого товара. Запрещено оставлять ссылки на
      другие Товары. Условия доставки должны включаться в Описание товара. Условия продажи и Описание товара,
      составленные Продавцом, не должны противоречить действующему законодательству и Регламенту Сайта как на момент
      размещения Условий продажи и Описания товара, так и в дальнейшем.
    %p
      Пользователь обязуется не оказывать активную поддержку и не распространять информацию об услугах,
      предоставляемых конкурентами, как то:
    %ul
      %li
        другие торговые площадки, интернет-аукционы и/или интернет-магазины;
      %li
        сайты, предлагающие товары и услуги, представленные на Сайте, за ту же либо меньшую плату;
      %li
        сайты, предлагающие товары и услуги, запрещенные к продаже на Сайте.
    %p
      Администрация имеет право рекламировать товар, размещенный для продажи на Сайте, способом,
      отличным от указанного Пользователем при регистрации Товара.
    %p
      Администрация также имеет право переместить, завершить или продлить срок демонстрации Товара по техническим причинам,
      находящимся под контролем или вне контроля Администрации.
      Администрация имеет право прекратить размещение любого объявления в любое время.

  %li
    %h2 Ограничение ответственности
    %p
      Администрация не имеет своей целью совершать и целенаправленно не совершает никаких действий с персональными данными
      и/или любой иной информацией, полученной от Пользователей и/или о Пользователях, в том числе Администрация не
      занимается, включая, но, не ограничиваясь: сбором данных, систематизацией, накоплением, хранением,
      уточнением (обновлением, изменением), использованием, распространением (в том числе передачей), обезличиванием,
      блокированием, уничтожением и иными действиями с персональными данными. Вся информация (независимо от того относится
      ли такая информация законодательством РФ к персональным или иным данным, подлежащим защите в соответствии с
      законодательством РФ, или нет), размещенная Пользователем на Сайте, размещается им для реализации Пользователем его
      имущества и/или услуг и/или в иных интересах Пользователя и, соответственно, Пользователь размещает ту или иную
      информацию о себе исключительно в своих интересах, в том числе для облегчения установления связи с Пользователем
      и/или идентификации Пользователя. Размещая информацию о себе, Пользователь понимает, что размещенная информация
      размещается на Сайте в открытом доступе, то есть доступна для ознакомления любому посетителю Сайта, соответственно
      Пользователь понимает и принимает на себя все риски, связанные с таким размещением информации, в том числе, включая,
      но не ограничиваясь: риск попадания адреса электронной почты в списки для рассылки спам-сообщений, риск попадания
      адреса электронной почты к различного рода мошенникам, риск попадания телефонного номера к SMS-спамерам и/или
      SMS-мошенникам и иные риски, вытекающие из такого размещения информации.
    %p
      Администрация не является организатором сделки, посредником, покупателем или продавцом. Данный Сайт является
      инструментом, который предоставляет возможность Пользователям размещать для реализации и/или приобретать
      разрешенные законом и Регламентом Сайта Товары в любое время, откуда угодно и по согласованной цене. Администрация
      не всегда проверяет объявления, размещенные Пользователями, ей не принадлежат объекты, размещенные для продажи на
      Сайте, а также Администрация не участвует в сделках между Покупателями и Продавцами. Таким образом, качество,
      безопасность, законность и соответствие Товара его описанию, а также возможность Продавца продать и Покупателя
      приобрести Товар находятся вне контроля Администрации. Поэтому Пользователь не может делать вывод, что предложение,
      продажа и/или приобретение какого-либо Товара является действительным и легальным, исходя из факта размещения,
      продажи и приобретения Товара на Сайте. Администрация не несет ответственность за завершение сделки Продавцом или
      Покупателем. Пользователь обязуется действовать исключительно в соответствии с действующим законодательством и
      Регламентом Сайта, а также нести в соответствии с законодательством РФ полную ответственность за собственные
      действия и бездействие на Сайте и при использовании Услуг.
    %p
      Администрация не проверяет информацию, опубликованную на Сайте другими Пользователями. Некоторые данные,
      опубликованные на Сайте, могут показаться оскорбительными, опасными, неправильными или вводящими в заблуждение.
      Администрация призывает Пользователей соблюдать осторожность и сохранять здравый смысл при пользовании Услугами Сайта.
      Пользователь должен принять во внимание, что его контрагент может быть несовершеннолетним или выдавать себя за другое
      лицо. Использование Услуг подразумевает, что Пользователь осознает и принимает эти риски, а также соглашается, что
      Администрация не несет ответственности за действия или бездействие со стороны Пользователей.
    %p
      Если у Пользователя возникают претензии к другому Пользователю в результате использования последним Услуг,
      Пользователь соглашается предъявлять эти требования самостоятельно и без вмешательства со стороны Администрации,
      а также освобождает Администрацию (наряду с её дочерними и иными аффилированными компаниями, а также их служащими,
      директорами, уполномоченными и иными сотрудниками) от всех требований, обязательств, компенсаций по возмещению
      ущерба, убытков, затрат и издержек, включая адвокатские гонорары, и иные расходы, возникшие в результате или в связи
      с такими требованиями. Администрация не несет ответственности за потерю информации Пользователем, а также за
      искажение информации или потерю сообщения. Администрация не несет ответственности за неисполнение или затруднения в
      исполнении обязательств из-за непредвиденных обстоятельств непреодолимой силы, последствия которых невозможно
      избежать или преодолеть (таких как решения властей, трудовые споры, несчастные случаи, обрывы в общей системе
      коммуникаций и т.д.). Во время существования вышеперечисленных помех Пользователь обязан предпринять все усилия
      для исполнения своих обязательств.
    %p
      Администрация (а также её дочерние и иные аффилированные компании, а также их служащие, директора, уполномоченные
      и иные сотрудники) не гарантирует постоянного, беспрерывного и надежного доступа к Услугам. Возможность
      пользования Сайтом и Услугами предоставляется без гарантий, и в степени, разрешенной действующим законодательством,
      Администрация освобождает себя от всех гарантий и других обязательств, как определенных действующим законодательством,
      так и прочих, включая, но, не ограничиваясь, обязательствами, касающимися компетентности и профессионализма, а также
      требованиями, связанными с соблюдением Пользователями сроков исполнения обязательств по заключенным сделкам.

  %li
    %h2 Сведения, предоставленные пользователем
    %p
      Под термином «Сведения, предоставленные Пользователем», понимается информация, которую Пользователь размещает
      на Сайте или передает другим Пользователям в связи с пользованием Услугами Сайта, включая регистрацию, размещение
      Товаров для продажи и другие действия, предпринятые Пользователем на Сайте. Пользователь несет ответственность за
      предоставленную им информацию, в то время как Администрация предоставляет канал для распространения и публикации
      Сведений Пользователя в Интернете.
    %p Сведения, предоставленные Пользователем, и его действия на Сайте не должны:
    %ul
      %li
        быть ложными, неточными или вводящими в заблуждение;
      %li
        способствовать мошенничеству, обману или злоупотреблению доверием;
      %li
        вести к совершению сделок с крадеными или поддельными предметами;
      %li
        нарушать или посягать на собственность третьего лица, его коммерческую тайну либо его право на
        неприкосновенность частной жизни;
      %li
        содержать сведения, оскорбляющие чью-либо честь, достоинство или деловую репутацию;
      %li
        содержать клевету или угрозы кому бы то ни было;
      %li
        призывать к совершению преступления, а также разжигать межнациональную рознь;
      %li
        способствовать, поддерживать или призывать к террористической и экстремистской деятельности;
        быть непристойными, либо носить характер порнографии;
      %li
        содержать компьютерные вирусы, а также иные компьютерные программы, направленные, в частности,
        на нанесение вреда, неуполномоченное вторжение, тайный перехват либо присвоение данных любой системы либо
        самой системы, либо ее части, либо личной информации или иных данных (включая данные Торговой площадки);
      %li
        причинять вред Торговой площадке, а также становиться причиной полной либо частичной потери Торговой
        площадкой услуг провайдеров сети интернет, либо услуг любых иных лиц;
      %li
        содержать материалы рекламного характера;
      %li
        иным образом нарушать действующее законодательство РФ.
    %p
      Пользователю запрещается размещать Товар для продажи на Сайте, или завершать сделку, начатую на Сайте,
      которая может привести к нарушению Администрацией действующего законодательства РФ.

    %h3 Права
    %p
      Чтобы предоставить Торговой площадке право использовать Сведения, предоставленные Пользователем, Пользователь
      предоставляет Торговой площадке неэксклюзивное, действующее повсеместно, бессрочное право использовать такое
      право относительно авторских прав, торговых марок, публикаций и баз данных, которое имеет Пользователь относительно
      Сведений, предоставленных Пользователем, на всех известных или не известных информационных носителях.
      Также Пользователь отказывается от всех моральных и имущественных прав, которые Пользователь имеет относительно
      Сведений, предоставленных Пользователем, в рамках, определенных действующим законодательством. Размещая на Сайте
      объявление с изображениями без знака охраны авторского права (ст.1271 ГКРФ), Пользователь соглашается с
      использованием изображения и/или его части в интересах Торговой площадки без выплаты вознаграждения.
    %h3 Доступ к Услугам
    %p
      Пользователь обязуется не использовать автоматические программы для получения доступа на Сайт
      без письменного разрешения Администрации.
    %p
      Использование компьютерных программ, позволяющих размещать на сайте объявления, минуя обычный порядок
      размещения объявлений (к примеру использование программ по автозагрузке объявлений), в отсутствие письменного
      разрешения Администрации, строго запрещено и может привести к удалению размещенных объявлений и аннулированию
      регистрации на сайте.
    %p Помимо этого, Пользователь обязуется:
    %ul
      %li
        не предпринимать никаких действий, которые могут привести к непропорционально большой нагрузке
        на инфраструктуру Сайта;
      %li
        не копировать, не воспроизводить, не изменять, не распространять и не представлять общественности любую
        информацию, содержащуюся на Сайте (кроме Сведений, предоставленных самим Пользователем) без предварительного
        письменного разрешения Администрации и любой третьей стороны;
      %li
        не препятствовать и не пытаться препятствовать работе и другой деятельности на Сайте; а также не препятствовать
        действию автоматических систем или процессов, а также других мероприятий, с целью воспрепятствовать или
        ограничить доступ на Сайт.
    %p
      Использование Сведений, предоставленных другими Пользователями. Чтобы облегчить взаимодействие между Пользователями,
      Услуги подразумевают ограниченный доступ к контактной информации других Пользователей. Право использования Сведений,
      предоставленных другими Пользователями, ограничивается настоящими Условиями.

  %li
    %h2 Использование сведений, предоставленных пользователями
    %p
      Пользователь Сайта обязуется не использовать Сведения, предоставленные другим Пользователем, без письменного
      разрешения Пользователя, разместившего такие сведения, или без подтверждения каким-либо другим способом права
      использовать такие Сведения. Все сведения, полученные Пользователем о других Пользователях в связи с использованием
      Сайта, могут быть использованы только для завершения сделок с использованием Сайта. Таким образом, Пользователю не
      разрешается использовать электронный адрес, ровно, как и номер телефона другого Пользователя для целей прямой
      рекламной рассылки или другой рассылки нежелательных электронных сообщений, а также для иных противоправных
      действий или действий, совершаемых без ведома и/или согласия противной стороны.

  %li
    %h2 Сообщения
    %p
      Сообщения Администрации, предназначенные для Пользователей, публикуются на Сайте и/или рассылаются по
      электронным адресам, предоставленным Пользователями при регистрации или размещении объявлений на Сайте.
      При этом Пользователь понимает, принимает и соглашается, что рассылаемые сообщения и/или их отдельные части
      могут и будут иметь явно или не явно рекламный характер, а также могут и будут содержать рекламные,
      информационные и иные объявления контрагентов Администрации.
    %p
      Сообщения Пользователей, предназначенные Администрации, пересылаются способами, указанными на сайте.
      Сообщения, опубликованные на Сайте, считаются доставленными Пользователю с момента их публикации.
      Администрация не несет ответственности за пользование другими Пользователями и/или автоматизированными
      системами (роботами) размещенной на Сайте формой для отправки сообщений. Также Администрация не несет
      ответственности за пользование другими Пользователями и/или роботами телефонными номерами, размещенными
      Пользователем на страницах Сайта. Администрация оставляет за собой право направлять Пользователю электронные
      письма (e-mail) и/или короткие сообщения (SMS) на указанный им, соответственно, адрес электронной почты или
      телефонный номер, как-то, включая, но, не ограничиваясь: предложения по заключению сделки от других
      Пользователей, потенциально интересные Пользователю предложения и сообщения иного информационного
      и/или рекламного характера.

  %li
    %h2 Срок действия условий и прекращение права пользования услугами
    %p
      Настоящие Условия вступают в силу после предоставления Пользователем электронного адреса и Пароля для Авторизации
      на Сайте и продолжают действовать бессрочно.
    %p
      Пользователь имеет право прекратить свое право пользования Услугами. После этого Пользователь не имеет права
      размещать новые товары для продажи. Администрация оставляет за собой право прекратить доступ к Услугам
      Пользователя, нарушающего настоящие Условия. Администрация оставляет за собой право прекратить доступ к
      Услугам Пользователя по собственному усмотрению. Пользователь, доступ которого к Услугам был прекращен, или
      Сведения которого перестали быть действительными, не имеет права регистрироваться повторно без особого
      разрешения Администрации, а также такой Пользователь не имеет права использовать для доступа на Сайт Логин и
      Пароль другого Пользователя. Администрация оставляет за собой право по собственному усмотрению прекратить
      предоставление Услуг и прекратить доступ к Услугам всех зарегистрированных Пользователей.

  %li
    %h2 Изменения
    %p
      Администрация оставляет за собой право в одностороннем порядке и без уведомления каждого отдельного Пользователя
      изменить настоящее Пользовательское соглашение, а также любые иные положения Регламента.
      Новая редакция Пользовательского соглашения и/или иных условий Регламента вступает в силу и начинает действовать с
      момента опубликования на Сайте. Новое Пользовательское соглашение и/или иные условия Регламента имеет обратную силу и
      применяется с момента публикации на Сайте ко всем Пользователям и любым совершенным ими на Сайте действиям или
      последствиями таких действий независимо от того, были ли эти действия совершены до или после публикации нового
      Пользовательского соглашения и/или иных условий Регламента.

  %li
    %h2 Передача прав
    %p
      Администрация оставляет за собой право передачи прав и/или обязанностей по настоящему Регламенту, как в целом, так и
      в части между Администрацией и Пользователем, третьей стороне. В случае передачи прав и/или обязанностей, как в
      целом, так и в части Администрация обязуется сообщить Пользователям, кому были переданы права и/или обязанности по
      настоящему Регламенту, как в целом, так и в части, путем публикации соответствующей информации на Сайте. В случае
      передачи прав и/или обязанностей как, в целом, так и в части по настоящему Регламенту третьей стороне, третья сторона
      имеет право предоставлять аналогичные или похожие услуги на другом сайте.
    %p
      Пользователь не может передать свои права и/или обязанности по настоящему Регламенту полностью или
      в части третьей стороне.

  %li
    %h2 Споры и действующее законодательство
    %p
      При разрешении всех споров по настоящему Регламенту, включая настоящие Условия, применяется
      действующее законодательство РФ.
    %p
      Признание отдельных частей настоящего Регламента недействительными не отменяет действие других
      положений настоящего Регламента.

