<div id='zohoWebToLead' align=center>
    <META HTTP-EQUIV='content-type' CONTENT='text/html;charset = UTF-8'>
    <form action='https://support.zoho.com/support/WebToCase' method='POST'>
        <table border=0 cellspacing=0 cellpadding=5 width=480
               style='border-top:2px solid #999999;border-bottom:1px solid #999999;background-color:#ffffff;'><input
                type='hidden' name='xnQsjsdp' value=q*cUW2pjX8ZthYo*kRl79w$$/> <input type='hidden' name='xmIwtLD'
                                                                                      value=I4KGk*md9eroReT0wt8a7J1GFBCUjBoL/>
            <input type='hidden' name='actionType' value=Q2FzZXM=/> <input type='hidden' name='Department'
                                                                           value='d4cca1c382ecda3f5710439f27d48b29f3148ec5bcd90913'/>
            <input type='hidden' name='returnURL' value='http://ogromno.com'/> <br>
            <tr>
                <td colspan='2' align='left'
                    style='background-color:#f5f5f5;border-bottom:2px dotted #dadada; color:#000000;font-family:sans-serif;font-size:14px;'>
                    <strong>Сообщить об ошибке</strong></td>
            </tr>
            <tr>
                <td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>
                    Имя &nbsp;&nbsp;:
                </td>
                <td width='75%'><input type='text' maxlength='120' name='First Name'/></td>
            </tr>
            <tr>
                <td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>
                    Фамилия &nbsp;&nbsp;:
                </td>
                <td width='75%'><input type='text' maxlength='120' name='Contact Name'/></td>
            </tr>
            <tr>
                <td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>
                    Электронная почта &nbsp;&nbsp;:
                </td>
                <td width='75%'><input type='text' maxlength='120' name='Email'/></td>
            </tr>
            <tr>
                <td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>Тема
                    &nbsp;&nbsp;:
                </td>
                <td width='75%'><input type='text' maxlength='120' name='Subject'/></td>
            </tr>
            <tr>
                <td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>
                    Статус &nbsp;&nbsp;:
                </td>
                <td width='75%'><select name='Status'>
                    <option value='Открыта'>Открыта</option>
                    <option value='Приостановлена'>Приостановлена</option>
                    <option value='На контроле'>На контроле</option>
                    <option value='Закрыта'>Закрыта</option>
                </select></td>
            </tr>
            <tr>
                <td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>
                    Тема обращения &nbsp;&nbsp;:
                </td>
                <td width='75%'><select name='Classification'>
                    <option value='--Нет--'>--Нет--</option>
                    <option value='Внутренняя реклама'>Внутренняя реклама</option>
                    <option value='Пополнение ЛС через Сбербанк'>Пополнение ЛС через Сбербанк</option>
                    <option value='Закупки - открытие, ведение, списания, отчеты'>Закупки - открытие, ведение, списания,
                        отчеты
                    </option>
                    <option value='Общие вопросы'>Общие вопросы</option>
                    <option value='Работа ЦР'>Работа ЦР</option>
                    <option value='Технические вопросы'>Технические вопросы</option>
                    <option value='Пожелания'>Пожелания</option>
                </select></td>
            </tr>
            <tr>
                <td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>Ник
                    &nbsp;&nbsp;:
                </td>
                <td width='75%'><input type='text' maxlength='120' name='Ник'/></td>
            </tr>
            <tr>
                <td colspan=2 align=center style='background-color:#eaeaea'><input type='submit' name='save'
                                                                                   value=Сохранить/> &nbsp; &nbsp;
                    <input type='reset' name='reset' value=Сброс/></td>
            </tr>
        </table>
    </form>
</div>