%h1 О Проекте
%p
  Клуб выгодных покупок OGROMNO.com стартовал в мае 2009 года и сегодня это большой онлайн торговый центр, гипермаркет в интернете.
  Аудиторию портала составляют люди, которые активные и общительные люди, у которых нет времени ходить по магазинам.

%h2 Зачем люди идут на OGROMNO.com
%p
  OGROMNO.com позиционируется как Клуб выгодных покупок, где для покупателя очевидно формирование цены на приобретаемый
  товар, в результате экономия по сравнению с магазинами составляет десятки процентов. Другое преимущество, это
  социальная среда покупателей, которая создает условия для конверсии посетителей, никогда ранее не совершавших покупок через интернет.

%h2 Контактная информация:
%ul
  %li по техническим вопросам - Николай тел. +7 963 032 63 62
  %li по работе Центра раздач и доставке тел.+7 922 022 73 73