%h1 Правила портала



%p
  Для всех объявлений, размещаемых на OGROMNO.com, действует система ограничений,
  связанная с текущим законодательством Российской Федерации.


%h2 Перечень товаров, запрещенных к продаже
%ul
  %li
    любые предметы, запрещенные к продаже либо изъятые из гражданского оборота по законодательству Российской Федерации,
    включая любое оружие, боеприпасы и технику военного назначения, взрывчатые, ядовитые, отравляющие и другие опасные
    вещества и предметы, радиоактивные материалы, порнографические материалы, а также наркотические средства и
    психотропные вещества;
  %li
    предметы, продавать которые Пользователь не имеет права;
  %li
    любые предметы, нарушающие или затрудняющие реализацию прав третьих лиц;
  %li
    краденое имущество;
  %li
    государственные награды;
  %li
    поддельные денежные знаки и поддельные знаки почтовой оплаты;
  %li
    акции и иные ценные бумаги;
  %li
    иностранная валюта и иные валютные ценности (за исключением их купли-продажи для нумизматических целей),
    монеты и банкноты РФ, находящиеся в обращении;
  %li
    радиоэлектронные и специальные технические средства в соответствии с Перечнем,
    утвержденным Постановлением Правительства РФ от 02.02.98 № 111;
  %li
    действующие или имеющие силу государственные удостоверения личности, знаки, пропуска,
    разрешения, сертификаты и лицензии;
  %li
    официальные бланки, формы строгой отчетности;
  %li
    готовые дипломные и курсовые работы;
  %li
    любые предметы и услуги, не соответствующие основам правопорядка и нравственности в Российской Федерации;
    спамерские базы, товары и услуги, которые могут способствовать несанкционированной рассылке;
  %li
    базы данных, содержащие персональные данные;
  %li
    материалы, содержащие государственную, банковскую или коммерческую тайну;
  %li
    боевые награды России и СССР, а также памятные медали и знаки, вручаемые ветеранам,
    принимавшим участие в боевых действиях;
  %li
    предметы и материалы, продажа которых нарушает авторские и/или смежные права третьих лиц,
    права на товарные знаки или патенты;
  %li
    материалы, нарушающие тайну частной жизни, посягающие на честь, достоинство и деловую репутацию граждан и юридических лиц;
  %li
    материалы, передаваемые исключительно виртуально и не записанные на
    какой-либо материальный носитель (идеи, методы, принципы и т.п.);
  %li
    лекарственные препараты, биоактивные добавки и медицинское оборудование (а также шприцы, иглы, скальпели),
    ботокс, контактные линзы и жидкость для их хранения;
  %li
    электронные сигареты;
  %li
    Оружие и комплектующие - прицелы, патроны, приклады и т.д. А также копии коллекционного оружия,
    любое холодное, охотничье и пневматическое оружие;
  %li
    рыболовные сети, электроудочки;
  %li
    предметы с фашистской/нацистской символикой, кроме представляющих историчеcкую и/или коллекционную ценность.

%h2 Товары, разрешенные к купле и продаже на OGROMNO.com с ограничениями:
%ul
  %li
    предметы и услуги, не предназначенные для несовершеннолетних;
  %li
    предметы, связанные с деятельностью правоохранительных органов
    (кроме упомянутых выше запрещенных радиоэлектронных и специальных технических средств);
  %li
    экзотические животные, а также части и органы животных;
  %li
    алкогольные напитки (только коллекционные);
  %li
    табачные изделия (сигары, коллекционные);
  %li
    продукты питания, за исключением нескоропортящихся продуктов в фабричной расфасовке,
    соответствующей государственным стандартам качества для розничной продажи;
  %li
    шкуры и изделия из шкур редких и находящихся под угрозой исчезновения видов животных,
    в соответствии с Перечнем, утвержденным Приказом Минприроды РФ от 27 июня 1994 г. № 202;
  %li
    меха;
  %li
    средства цветного копирования;
  %li
    шифровальные средства, а также защищенные технические средства хранения, обработки и передачи информации.