= render 'js'
-#%ul
-#- group = nil
-#- @procedures.each do |procedure|
-#  - unless group == procedure.group
-#    - group = procedure.group
-#    %li= t(procedure.group)
-#  %li
-#    %a= procedure.name + " " + procedure.duration.to_s
%ul
  - @groups.each do |group|
    %li= link_to t(group).first, create_record_step2_path(group)