%h1 Ваши записи в салон красоты

%table
  %tr
    %th Дата
    %th Процедуры
    -#%th Продолжительность
    %th

  - @records.each do |record|
    %tr
      %td= Russian::strftime(record.record_time, '%d %B %H:%M')
      - procedures = record.procedures.map { |procedure| Admin::Salon::Procedure.find(procedure)}
      - procedures.each do|procedure| procedure.name
        %td= procedure.name
      -#%td= record.employee
      %td= link_to 'Отменить', record, method: :delete, data: { confirm: 'Вы уверены, что хотите отменить запись?' }

%br

= link_to 'New Record', create_record_step1_path
