$('#deposit-form input[name=user_id]').select2('val', '');
$('#deposit-form input[name=amount]').val('100');
$('body').append("#{j (render 'js_messages/message_markup', message: local_assigns[:message], type: local_assigns[:message_type])}");