#fast-action-menu
  cursor: pointer
  position: fixed
  right: 0
  top: 23%
  z-index: 10000

#fast-action-menu li
  border: solid 1px #739a35
  border-radius: 10px 0 0 10px
  padding: 5px 5px 5px 7px
  background-color: #B4D77F
  margin-bottom: 1px
