$('#product').html("#{escape_javascript(render 'orders')}");
$('#paginator').html("#{escape_javascript(paginate(@orders, :remote => true)) }");
$('#orders .barcode_select').select2({placeholder: "Выберите штрих-код", width: '200px', data: { results: unusedBarcodes}});