/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require _colors
 *= require normalize-rails
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require dataTables/src/demo_table_jui
 *= require chosen
 *= require select2
 */
//dimensions
$total_width: 1060px

@import "colors"

html
  height: 100%

body
  height: 100%
  font-size: 16px
  font-family: 'PT Sans', sans-serif
  margin: 0
  padding: 0
  background: url("background.png") repeat
  min-width: $total_width + 4

h4
  font-size: 1.7em !important

a
  color: #666666
  outline: 0

a:active
  color: #94C943

a:hover
  color: #000000

.notice
  font-size: 14px

span#errors
  color: red
  padding-left: 5px

.wrapper
  width: $total_width
  margin: 0 auto

#up-header
  display: block
  text-align: left
  width: 100%
  height: 24px
  padding: 2px 0
  background: $dark_grey

#up-header ul
  @extend .wrapper

#up-header ul li
  list-style: none
  display: inline

#up-header ul li a
  color: $grey
  margin-left: 15px
  &:hover
    color: #ffffff
  &:active
    color: $green

#up-header ul li:first-child a
  margin-left: 0

#middle-header
  width: 100%
  background: $light_grey
  -webkit-box-shadow: 0 6px 6px -6px #777
  -moz-box-shadow: 0 6px 6px -6px #777
  box-shadow: 0 6px 6px -6px #777

#middle-header-wrapper
  @extend .wrapper
  height: 72px
  padding-top: 4px

#middle-header-wrapper div
  float: left

#search-input-div
  padding: 20px 10px 0

#search-input
  width: 500px
  height: 30px

#carousel-common
  margin: 0
  padding: 0
  width: 570px
  height: 140px
  list-style: none

#carousel
  @extend #carousel-common
  overflow: hidden

#carousel li
  @extend #carousel-common
  float: left

#wrapper
  @extend .wrapper

#main-data
  width: 800px
  float: left
  padding: 8px

#right-sidebar
  width: 234px
  float: right
  margin: 8px 8px 8px 0

.clear
  clear: both

footer
  background: url("foot_bg.png") repeat-x
  height: 194px
  width: 100%
//margin: -209px auto 0
//position: relative
#footer-wrapper
  @extend .wrapper

#footer-wrapper>ul
  float: left
  font: 14px
  list-style: none
  color: #999999

#footer-wrapper>ul>li:first-child
  padding: 8px 0

#footer-wrapper>ul>li>a
  color: #999999
  &:hover
    color: #FFFFFF
  &:visited
    color: $green

.no-padding
  padding: 0

.no-margin
  margin: 0

li
  list-style-type: none

li h2
  display: inline

ol
  counter-reset: list1

ol>li:before
  counter-increment: list1
  content: counter(list1) ". "

ol ol
  counter-reset: list2

ol ol>li:before
  counter-increment: list2
  content: counter(list1) "." counter(list2) ". "

ol ol ol
  counter-reset: list3

ol ol ol>li:before
  counter-increment: list3
  content: counter(list1) "." counter(list2) "." counter(list3) ". "

ol ol ol ol
  counter-reset: list4

ol ol ol ol li:before
  counter-increment: list4
  content: counter(list1) "." counter(list2) "." counter(list3) "." counter(list4) ". "

.show-password-link
  display: block
  position: absolute
  z-index: 11

.password-showing
  position: absolute
  z-index: 10

.field
  margin: 10px 5px

.underline
  text-decoration: underline

.grey
  color: $grey

.dashed
  border-bottom: thin dashed $grey

.pointer
  cursor: pointer

#login
  padding-top: 10px

.actions
  margin: 10px

.tab-content
  background-color: #ffffff

.closed a
  color: blue !important

ul.ui-autocomplete 
  position: absolute
  list-style: none
  margin: 0
  padding: 0
  border: solid 1px #999
  cursor: default
  li
    background-color: #FFF
    border-top: solid 1px #DDD
    margin: 0
    padding: 0
    a
      color: #000
      display: block
      padding: 3px
    
    a.ui-state-hover, a.ui-state-active 
      background-color: #FFFCB2

#calendar-loading
  display: none
  position: absolute
  height: 217px
  background: white
  width: 783px
  z-index: 2
  opacity: 0.5
  text-align: center
  padding-top: 110px
  border-radius: 4px

#progressbar
  border: 1px solid #e5e5e5
  background-color: #f5f5f5
  border-radius: 3px
  padding: 2px

#progressbar div
  background-color: orange
  height: 10px
  border-radius: 2px

.no-display
  display: none !important

.box
  border: thin solid orange
  border-radius: 10px
  background-color: #FFDC6E
  padding: 15px
  margin: 5px

.small-font
  margin: 10px 0 0 0
  font-size: 10px

.bigger-font
  font-size: 20px

.red
  color: red

.green
  color: $green

#sticky-notification
  @extend .box
  text-indent: 10px
  padding: 10px
  margin: 0
  color: inherit
  line-height: 125%
  border-left: none
  border-radius: 0 10px 10px 0
  position: fixed
  top: 20%
  left: 0%
  width: 250px

.grid
  padding: 0 !important

.menu li.current>a, .menu li.current>a:hover, .menu li.current.hover>a
  background: -webkit-linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important
  background: -moz-linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important
  background: -o-linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important
  background: linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important

.grid
  padding: 0 !important

.menu li.current>a, .menu li.current>a:hover, .menu li.current.hover>a
  background: -webkit-linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important
  background: -moz-linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important
  background: -o-linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important
  background: linear-gradient(top, rgba(172, 240, 134, 1) 0%,rgba(141, 199, 87, 1) 44%,rgba(78, 184, 82, 1) 100%) !important

.manually_added
  background-color: lightgoldenrodyellow