/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize-rails
 *= require_tree .
 *= require jquery.ui.all
 *= require dataTables/src/demo_table_jui
 */
//dimensions
$total_width: 1060px

@import "colors"

html
  height: 100%

body
  height: 100%
  font-size: 16px
  //font-family: Georgia, sans-serif
  font-family: 'PT Sans', sans-serif
  margin: 0
  padding: 0
  background: url("background.png") repeat
  min-width: $total_width + 4

.wrapper
  width: $total_width
  margin: 0 auto

#up-header
  display: block
  text-align: left
  width: 100%
  height: 24px
  padding: 2px 0
  background: $dark_grey

#up-header ul
  @extend .wrapper

#up-header ul li
  list-style: none
  display: inline

#up-header ul li a
  color: $grey
  margin-left: 15px
  &:hover
    color: #ffffff
  &:active
    color: $green

#up-header ul li:first-child a
  margin-left: 0

#middle-header
  width: 100%
  background: $light_grey
  -webkit-box-shadow: 0 6px 6px -6px #777
  -moz-box-shadow: 0 6px 6px -6px #777
  box-shadow: 0 6px 6px -6px #777

#middle-header-wrapper
  @extend .wrapper
  height: 72px
  padding-top: 4px

#middle-header-wrapper div
  float: left

#search-input-div
  padding: 20px 10px 0

#search-input
  width: 500px
  height: 30px

#carousel-common
  margin: 0
  padding: 0
  width: 570px
  height: 140px
  list-style: none

#carousel
  @extend #carousel-common
  overflow: hidden

#carousel li
  @extend #carousel-common
  float: left

#wrapper
  @extend .wrapper

#main-data
  width: 800px
  float: left
  padding: 8px

#right-sidebar
  width: 234px
  float: right
  margin: 8px 8px 8px 0

.clear
  clear: both

footer
  background: url("foot_bg.png") repeat-x
  height: 194px
  width: 100%
//margin: -209px auto 0
//position: relative
#footer-wrapper
  @extend .wrapper

#footer-wrapper>ul
  float: left
  font: 14px
  list-style: none
  color: #999999

#footer-wrapper>ul>li>a
  color: #999999
  &:hover
    color: #FFFFFF
  &:visited
    color: $green

.no-padding
  padding: 0
  margin: 0

li
  list-style-type: none

li h2
  display: inline

ol
  counter-reset: list1

ol>li:before
  counter-increment: list1
  content: counter(list1) ". "

ol ol
  counter-reset: list2

ol ol>li:before
  counter-increment: list2
  content: counter(list1) "." counter(list2) ". "

ol ol ol
  counter-reset: list3

ol ol ol>li:before
  counter-increment: list3
  content: counter(list1) "." counter(list2) "." counter(list3) ". "

ol ol ol ol
  counter-reset: list4

ol ol ol ol li:before
  counter-increment: list4
  content: counter(list1) "." counter(list2) "." counter(list3) "." counter(list4) ". "

.show-password-link
  display: block
  position: absolute
  z-index: 11

.password-showing
  position: absolute
  z-index: 10

.field
  margin: 10px 5px

.underline
  text-decoration: underline

.grey
  color: $grey

.dashed
  border-bottom: thin dashed $grey

.pointer
  cursor: pointer

#login
  padding-top: 10px

.actions
  margin: 10px

.tab-content
  background-color: #ffffff

.closed a
  color: blue !important

ul.ui-autocomplete 
  position: absolute
  list-style: none
  margin: 0
  padding: 0
  border: solid 1px #999
  cursor: default
  li
    background-color: #FFF
    border-top: solid 1px #DDD
    margin: 0
    padding: 0
    a
      color: #000
      display: block
      padding: 3px
    
    a.ui-state-hover, a.ui-state-active 
      background-color: #FFFCB2

#calendar-loading
  display: none
  position: absolute
  height: 217px
  background: white
  width: 783px
  z-index: 2
  opacity: 0.5
  text-align: center
  padding-top: 110px
  border-radius: 4px