// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green:#94C943

.chosen
  background-color: $green

ul#procedures li
  cursor: pointer
  display: block

.unactive
  color: gray

#avaliable_time
  //display: none
